<h1 class="text-2xl">Por region</h1>
<h3 class="text-lg">Seleccione una region</h3>

<section class="row mt-2">
  <div class="flex-col">
    @for (item of regions; track item) {
      <button class="btn btn-outline mr-2 w-[100px]"
      (click)="region.set(item)" [class.btn-primary]="region() === item">
        {{ item }}
      </button>
    }
  </div>
</section>

<app-country-list
[countries]="countryResource.value() ?? []"
[errorMessage]="countryResource.error()"
[isEmpty]="countryResource.value()?.length === 0"
[isLoading]="countryResource.isLoading()"
/>
